*.suo
*.user
_ReSharper.*
packages
TorneoFutbol.App/TorneoFutbol.App.Frontend/obj/
TorneoFutbol.App/TorneoFutbol.App.Frontend/bin/
TorneoFutbol.App/TorneoFutbol.App.Persistencia/obj/
TorneoFutbol.App/TorneoFutbol.App.Persistencia/bin/
