@page
@model TorneoFutbol.App.Frontend.Pages.Partido.IndexModel
@{
<div class="container p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col">
      <p style="text-align:center;">Equipo Local</p>
    </div>
    <div class="col mb-2 bg-success text-white">
      <p style="text-align:center;">Marcador</p>      
    </div>
    <div class="col">
      <p style="text-align:center;">Equipo Visitante</p>      
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p style="text-align:center;">Name</p>  
    </div>
    <div class="col">
      <p style="text-align:center;">0-0</p>  
    </div>
    <div class="col">
      <p style="text-align:center;">Name</p>  
    </div>
  </div>
</div>
}
