@page
@model TorneoFutbol.App.Frontend.Pages.Dts.AddEquipoModel
@{
}
<h1>Asignar Equipo</h1>
<form method="post">
    <div class="form-group">
        <label for="idDt">Director Tecnico</label>
        <input id="idDt" type="text" name="idDt" value="@Model.dt.ID" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label for="idEquipo">Equipo</label>
        <select name="idEquipo" id="idEquipo" class="form-control">
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.ID">@equipo.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Asignar Equipo</button>
</form>
<a asp-page="./ListDts" class="btn btn-secondary">Volver</a>