@page
@model TorneoFutbol.App.Frontend.Pages.Dts.CreateDtsModel
@{
}
<h1>Nuevo Director Tecnico</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="dt.Nombre"></label>
        <input asp-for="dt.Nombre" class="form-control">
        <span asp-validation-for="dt.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="dt.Documento"></label>
        <input asp-for="dt.Documento" class="form-control">
        <span asp-validation-for="dt.Documento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="dt.NumeroTelefono"></label>
        <input asp-for="dt.NumeroTelefono" class="form-control">
        <span asp-validation-for="dt.NumeroTelefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <!--<label asp-for="dt.Equipo"></label>-->
        <!--<input asp-for="dt.Equipo" class="form-control" readonly>-->
        <label for="idEquipo">Equipo</label>
        <select name="idEquipo" id="idEquipo" class="form-control">
            @foreach (var equipo in Model.equipos)
            {
                <option value="@equipo.ID">@equipo.Nombre</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear DT</button>
</form>
<a class="btn btn-secondary" asp-page="./ListDts">Volver</a>