@page
@using TorneoFutbol.App.Dominio
@model TorneoFutbol.App.Frontend.Pages.Jugadores.CreateJugadoresModel
@{
}
<h1>Nuevo Jugador</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="jugador.Nombre"></label>
        <input asp-for="jugador.Nombre" class="form-control">
        <span asp-validation-for="jugador.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="jugador.Documento"></label>
        <input asp-for="jugador.Documento" class="form-control">
        <span asp-validation-for="jugador.Documento" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="jugador.NumeroTelefono"></label>
        <input asp-for="jugador.NumeroTelefono" class="form-control">
        <span asp-validation-for="jugador.NumeroTelefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="jugador.Numero"></label>
        <input asp-for="jugador.Numero" class="form-control">
        <span asp-validation-for="jugador.Numero" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="jugador.Posicion"></label>
        <!--<input asp-for="jugador.Posicion" class="form-control"> -->
        <select asp-for="jugador.Posicion" asp-items="Html.GetEnumSelectList<Posicion>()" class="form-control">    
        </select>
    </div>
    <div class="form-group">
        <label for="idEquipo">Equipo</label>
            <select name="idEquipo" id="idEquipo" class="form-control">
                @foreach (var equipo in Model.equipos)
                {
                    <option value="@equipo.ID">@equipo.Nombre</option>
                }
            </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear Jugador</button>
</form>
<a class="btn btn-secondary" asp-page="./ListJugadores">Volver</a>
