@page
@model TorneoFutbol.App.Frontend.Pages.Equipos.CreateEquiposModel
@{
}
<h1>Nuevo Equipo</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="equipo.Nombre"></label>
        <input asp-for="equipo.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <!--<label asp-for="equipo.Municipio"></label>-->
        <!--<input asp-for="equipo.Municipio" class="form-control">-->
        <label for="idMunicipio">Municipio</label>
        <select name="idMunicipio" id="idMunicipio" class="form-control">
            @foreach (var municipio in Model.municipios)
            {
                <option value="@municipio.ID">@municipio.Nombre</option>
            }
        </select>
    </div>

    <!--
    <div class="form-group">
        <label asp-for="equipo.Desempeno"></label>
        <input asp-for="equipo.Desempeno" class="form-control" readonly>
    -->
    </div>
    <button type="submit" class="btn btn-primary">Crear Equipo</button>
</form>
<a class="btn btn-secondary" asp-page="./ListEquipos">Volver</a>
