@page
@model TorneoFutbol.App.Frontend.Pages.Equipos.DetailsEquiposModel
@{
}
h1>Detalles de los Equipos</h1>
<table class="table table-dark">
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Municipio</th>
        <td>@Model.equipo.Municipio</td>
    </tr>
    <tr>
        <th scope="col">Desempeño</th>
        <td>@Model.equipo.Desempeno</td>
    </tr>
</table>
<a class="btn btn-primary" asp-page="./ListEquipos">Volver</a>
