@page
@model TorneoFutbol.App.Frontend.Pages.Equipos.EditEquiposModel
@{
}
<h1>Editar Equipo</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="equipo.ID"></label>
        <input asp-for="equipo.ID" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="equipo.Nombre"></label>
        <input asp-for="equipo.Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="equipo.Municipio"></label>
        <select name="idMunicipio" id="idMunicipio" class="form-control">
            @foreach (var municipio in Model.municipios)
            {
                <option value="@municipio.ID">@municipio.Nombre</option>
            }
        </select>
    </div>
    <!--
    <div class="form-group">
        <label asp-for="equipo.Desempeno"></label>
        <input asp-for="equipo.Desempeno" class="form-control" readonly>
    </div>
    -->
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Editar</button>
            <a class="btn btn-secondary" asp-page="./ListEquipos">Volver</a>
        </div>
    </div>
</form>

