@page
@model TorneoFutbol.App.Frontend.Pages.Arbitros.ListModel
@{
}
<h1>Lista de Arbitros</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Documento</th>
            <th scope="col">Telefono</th>
            <th scope="col">Colegio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arbitro in Model.arbitros)
        {
            <tr>
                <th>@arbitro.Nombre</th>
                <td>@arbitro.Documento</td>
                <td>@arbitro.NumeroTelefono</td>
                <td>@arbitro.Colegio</td>
            </tr>
        }
    </tbody>
</table>
